<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listado-persona"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar datos de persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Datos de persona</h1>
  </ion-text>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input placeholder="Ej: Bruno Díaz" #nombre></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Edad</ion-label>
    <ion-input placeholder="Ej: 50" type="number" #edad></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Url de imagen</ion-label>
    <ion-input #url></ion-input>
  </ion-item>
  <br><br>
  <ion-button (click)="guardar(nombre, edad, url)" expand="block" shape="round">
    Guardar
  </ion-button>

</ion-content>
