<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listado-persona"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Persona</ion-title>
    
    
    <ion-buttons slot="end">
      <ion-button (click)="eliminar()">
        <ion-icon name="trash"></ion-icon>        
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="persona.foto"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5"><ion-text color="primary">
        <h1>Nombre</h1>
      </ion-text></ion-col>
      <ion-col size="7">
        <ion-text color="secondary">
          <h1>{{persona.nombre | titlecase}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5"><ion-text color="primary">
        <h1>Edad</h1>
      </ion-text></ion-col>
      <ion-col size="7">
        <ion-text color="secondary">
          <h1>{{persona.edad}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
